.navbar {
list-style-height: none;
 padding: 0;
margin: 0;
overflow: hidden;
 background-color: black;
 }

.navitem {
float:left;
}

.navitem a{
  display: block;
  color: white;
text-align:center;
padding:14px 16px;
text-decoration: none;
}
.navitem a:hover {
   background-color: #9b59b6;
   color: black;
   }
#homepage {
  position: absolute;
}

  #text {
  position: relative;
  align:center;
  font-family: raleway ;


  }
  #image {
    transform: rotate(90);
  }